<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEST csgo gambling SITE!!!</title>
    <link rel="stylesheet" href="styles.css">
</head>
    <body>

        <div class="top-icon">Change Theme here</div>

        <div class="header">
            <div class="site-title">csgocaseopening.com</div>
            <h1 class="main-headline">LOG IN TO GET UR FREE 5<br>LUCKY ROLLS</h1>
        </div>

        <div class="login-row">

            <div class="knife-column">
                <img src="butterflyknife.png" alt="Butterfly Knife" class="knife-img knife-top">
                <img src="m9bayonet.png" alt="M9 Bayonet" class="knife-img knife-bottom">
            </div>

            <div class="input-column">
                <input type="text" placeholder="USERNAME">
                <input type="text" placeholder="PASSWORD">
                
                <div class="signup-wrap">
                    <a href="signup.html" class="signup-link">sign up here!!!!</a>
                </div>
            </div>

        </div>
    </body>
    <script src="main.js"></script>
</html>