<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEST csgo gambling SITE!!!</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="intro">
        <h2 class="introtext1"><center>csgocaseopening</center></h2>
        <h1 class="introtext2"><center>LOG IN TO GET YOUR FREE 5<br> LUCKY ROLLS</center></h1>
    </div>
    <div class="login">
        <div class="image">
            <img src="butterflyknife.png">
            <img src="m9bayonet.png" class="m9bayonet">
        </div>
        <div class="inputthingy">
            <input type="text" placeholder="USERNAME">
            <input type="text" placeholder="PASSWORD">
        </div>

</body>
</html>
