<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page for epic website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top-icon">Change Theme here</div>
    <div class="intro">
        <h2 class="site-title"><center>csgocaseopening</center></h2>
        <h1 class="main-headline"><center>SIGN UP PAGE</center></h1>
    </div>
    <div class="inputthing">
        <div class="signup">
            <input type="text" placeholder="USERNAME">
            <input type="text" placeholder="PASSWORD">
        </div>
    </div>
    <img src="image.png" class="asiimov">
    <a href="index.html" class="loginpage">login now!!!</a>
</body>
</html>