.first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    width: auto;

}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: auto;
}

.intro{
    font-size: 125px;
}

.text{
    font-size: 20px;
    position: relative;
    top: 125px;
    width: 300px;
}

body{
    background-color: rgb(33, 24, 50);
    color: white;
}

.img1{
    width: 700px;
}

.img2{
    height: 200px;
    width: 700px;
}

.secondtext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: auto;
}

.info1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    position: relative;
    left: -50px;
}

.info2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    position: relative;
    left: 50px;
    bottom: 250px;
}